body {
    background-color: #000;
}

.cell {
    transition: background-color 0.7s cubic-bezier(0, 0.55, 0.45, 1);
    background-color: #000;
}
.cell.checked {
    background-color: #fff;
}
.cell:hover:not(.checked) {
    background-color: #111;
    transition: background-color 0.1s cubic-bezier(0, 0.55, 0.45, 1);
}
